.instruction, .answer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;

}

.lab-window {
    padding-top: 0px;
    width: auto;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: #666666 4px solid;
    background-color: #DEDEDE;
}

.lab-window-header {
    background-color: #990033;
    width: 100%;
    color: white;
    position: relative;
    top: 0;
}


.step-window {
    width: 90%;
    height: auto;
    min-height: 50px;
    margin-right: auto;
    margin-left: auto;
    border: #666666 4px solid;
    margin-bottom: 10px;
}
.delete {
    font-size: 40px;
    float: right;
    position: relative;
    right: 0;
    top: -40px;
}

.add-step {
    text-align: center;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100px;
    height: 150px;
}
.output {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    margin-right: auto;
    margin-left: auto;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 100%;
    min-height: 100px;
}

#instructions {
    height: 100px;
}

.lab-title {
    text-align: center;
    margin-top: 0px;
    font-size: 40px;
}

/* Tool Tip Stuff */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}