html body {
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    height: 100%;
    position: absolute;
}
.header {
    width: 100%;
    height: 20%;
    font-size: 14px;
    border: black 2px solid;
}
.instructions {
    width: 79%;
    height: 100%;
    float: left;
    border-right: black 2px solid;
}
.instructions textarea {
    font-size: 14px;
    font-family: "Open Sans";
}
.info {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #a4001d;
}
.info h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: auto;
    text-align: center;
    font-family: "Open Sans";
}

.coding-window {
    height: 40%;
    width: 100%;
    border-left: black 2px solid;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
}
.code_window {
    height: 100%;
    font-family: "Open Sans";
}
.navigation {
    height: 10%;
    width: 100%;
    z-index: 1;
    background-color: #a4001d;
    border-right: black 2px solid;
    border-left: black 2px solid;
    border-bottom: black 2px solid;
}
.footer {
    height: 28%;
    width: 100%;
    border-right: black 2px solid;
    border-left: black 2px solid;
    border-bottom: black 2px solid;
}
.output-area {
    height: 100%;
    width: 49%;
    float: left;
    font-family: "Open Sans";
    font-size: 12px;
    overflow-y: auto;
    overflow-x: visible;
    border-right: black 2px solid;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
}

.output-area h3{
    font-family: "Open Sans";
    margin-top: 3px;
    margin-bottom: 3px;
}
.output-help {
    height: 100%;
    width: 49%;
    float: left;
}

.lab-window {
    padding-top: 0px;
    width: auto;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: #666666 4px solid;
    background-color: #DEDEDE;
}

.lab-window-header {
    background-color: #990033;
    width: 100%;
    color: white;
    position: relative;
    top: 0;
}


.step-window {
    width: 90%;
    height: auto;
    min-height: 50px;
    margin-right: auto;
    margin-left: auto;
    border: #666666 4px solid;
    margin-bottom: 10px;
}
.delete {
    font-size: 40px;
    float: right;
    position: relative;
    right: 0;
    top: -40px;
}

.add-step {
    text-align: center;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100px;
    height: 100%;
}
.output {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    padding: 2px 3px;
    width: 100%;
    min-height: 100px;
}

#instructions {
    height: 100%;
    resize: none;
}

.lab-title {
    text-align: center;
    margin-top: 0px;
    font-size: 40px;
}

/* Tool Tip Stuff */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    bottom: 50%;
    left: 25%;
    margin-left: -60px;
    opacity: 100;
    transition: opacity 1s;
    overflow: visible;

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}